<!-- This must be first line of file:   -*- mode: html;  -*- -->

<footer class="footer">
  <p>
    &copy; 2016 Phill Conrad.  No not really.  Copy it all you like. <br>
    Code at: <a href="https://github.com/pconrad-webapps/sparkjava-mustache-minimal-demo">https://github.com/pconrad-webapps/sparkjava-mustache-minimal-demo</a>
  </p>
</footer>
